.photoText {
    display: flex;
    justify-content: start;
}

.title {
font-size: 700;
font-weight: 700;
margin: 0;
padding-top: 10px;
}

.button {
    
    border: none; 
    color: rgb(14, 13, 13); 
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 10px; 
    margin: 10px 2px; 
    cursor: pointer; 
    border-radius: 5px;
}

.link {
text-decoration: none;
}

.image {
    width: 200px;
    height:auto;
    padding: 10px;
}

.img {
    width: 100px;
    height:auto;
    padding: 10px;
}

.castList {
    list-style-type: none;
}

.largeText {
    font-size: 500;
    font-weight: 600;
}

.text {
    margin: 0;
    padding: 5px;
}

.linkButton {
        background: none;
        border: none;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        padding: 0;
        font-size: inherit;
      }
