.photoText {
    display: flex;
    justify-content: start;
}

.title {
font-size: 700;
font-weight: 700;
margin: 0;
padding-top: 10px;
}

.button {
    
    border: none; 
    color: white; 
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 10px; 
    margin: 10px 2px; 
    cursor: pointer; 
    border-radius: 5px;
}

.link {
text-decoration: none;
}

.image {
    width: 200px;
    height:auto;
    padding: 10px;
}

.largeText {
    font-size: 500;
    font-weight: 600;
}